Recursive-Cognitive-Engine-v5.json
{
  "name": "Recursive-Cognitive-Engine-v5",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "📥 Inbox File Trigger",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "path": "={{ $env.OBSIDIAN_VAULT_PATH }}/00_Inbox",
        "events": [
          "add"
        ],
        "options": {
          "depth": 0,
          "ignoreInitial": true,
          "awaitWriteFinish": {
            "stabilityThreshold": 2000,
            "pollInterval": 100
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "🔍 Validate File Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "expression",
        "output": "={{ (() => { const e=$json.path.split('.').pop().toLowerCase(); if(e==='pdf')return 0; if(['txt','md','markdown'].includes(e))return 1; return 2; })() }}",
        "outputsInfo": [
          {
            "outputKey": "PDF"
          },
          {
            "outputKey": "Text/Markdown"
          },
          {
            "outputKey": "Unsupported"
          }
        ]
      }
    },
    {
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "📄 Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        680,
        180
      ],
      "parameters": {
        "filePath": "={{ $json.path }}"
      }
    },
    {
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "🔓 Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        900,
        180
      ],
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0027-4000-8000-000000000027",
      "name": "📄 Normalize PDF Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        180
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json;\nconst path = require('path');\nreturn { json: {\n  path:     data.path || '',\n  filename: path.basename(data.path||'untitled', path.extname(data.path||'')),\n  text:     data.text || data.extractedText || data.content || '',\n  source:   'pdf'\n}};"
      }
    },
    {
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "📝 Read Text File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        380
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\nconst filePath = $input.item.json.path;\nlet content;\ntry { content = fs.readFileSync(filePath, 'utf8'); }\ncatch (err) { throw new Error(`[ReadText] Cannot read ${filePath}: ${err.message}`); }\nreturn { json: { path: filePath, filename: path.basename(filePath, path.extname(filePath)), text: content, source: 'text' } };"
      }
    },
    {
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "⚠️ Unsupported File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        520
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst logPath = `${process.env.OBSIDIAN_VAULT_PATH}/00_Inbox/_errors.log`;\nconst msg     = `[${new Date().toISOString()}] UNSUPPORTED: ${$input.item.json.path}\\n`;\ntry { fs.appendFileSync(logPath, msg); } catch (e) { console.error('Log write failed:', e.message); }\nreturn { json: { skipped: true, path: $input.item.json.path } };"
      }
    },
    {
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "🗂️ Vault Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\n\nconst vaultPath   = process.env.OBSIDIAN_VAULT_PATH;\nconst promptPath  = process.env.MASTER_ARCHITECT_PROMPT_PATH;\nconst cacheMaxAge = parseInt(process.env.SNAPSHOT_CACHE_MINUTES || '5') * 60 * 1000;\nconst cacheFile   = path.join(vaultPath, '04_Meta', '.snapshot_cache.json');\n\n// ── FIX #3 — Load master prompt with inline fallback ─────────────\nlet masterPrompt = null;\nif (promptPath) {\n  try {\n    masterPrompt = fs.readFileSync(promptPath, 'utf8');\n    if (!masterPrompt || masterPrompt.trim() === '') masterPrompt = null;\n  } catch (err) {\n    console.warn(`[Snapshot] Cannot read prompt file ${promptPath}: ${err.message}. Using inline fallback.`);\n  }\n}\nif (!masterPrompt) {\n  // Inline minimal fallback so ingestion never dies on a missing file\n  masterPrompt = `You are the Recursive Cognitive Engine. Decompose the source document into 8-12 interconnected Obsidian Markdown notes. Return ONLY a single valid JSON object matching this schema: { \"batch_id\": \"<ISO timestamp>\", \"source_title\": \"<title>\", \"notes\": [{ \"filename\": \"01_Index_<Slug>.md\", \"folder\": \"01_Wiki_Nodes\", \"content\": \"<full markdown>\" }], \"lesson_cemetery_candidates\": [], \"experiment_24h\": { \"title\": \"\", \"hypothesis\": \"\", \"steps\": [], \"success_metric\": \"\", \"ai_automation_angle\": \"\" }, \"mermaid_challenge\": \"\", \"council_debate_summary\": \"\" }. VAULT SNAPSHOT: {{VAULT_SNAPSHOT}} SOURCE TITLE: {{SOURCE_TITLE}} SOURCE TEXT: {{SOURCE_TEXT}}`;\n  console.warn('[Snapshot] USING INLINE FALLBACK PROMPT. Set MASTER_ARCHITECT_PROMPT_PATH for full functionality.');\n}\n\n// ── FIX #8 — Snapshot cache ────────────────────────────────────────\nlet snapshot = null;\ntry {\n  if (fs.existsSync(cacheFile)) {\n    const cacheRaw  = fs.readFileSync(cacheFile, 'utf8');\n    const cacheData = JSON.parse(cacheRaw);\n    const age       = Date.now() - new Date(cacheData.cached_at).getTime();\n    if (age < cacheMaxAge) {\n      snapshot = cacheData.snapshot;\n      console.log(`[Snapshot] Using cached snapshot (${Math.round(age/1000)}s old, max ${cacheMaxAge/1000}s).`);\n    }\n  }\n} catch (_) { /* cache miss — fall through to full scan */ }\n\nif (!snapshot) {\n  function scanDir(dir, base) {\n    base = base || '';\n    let results = [];\n    if (!fs.existsSync(dir)) return results;\n    let items;\n    try { items = fs.readdirSync(dir); } catch (e) { return results; }\n    for (const item of items) {\n      const full = path.join(dir, item);\n      const rel  = path.join(base, item);\n      let stat;\n      try { stat = fs.statSync(full); } catch (_) { continue; }\n      if (stat.isDirectory() && !item.startsWith('.')) {\n        results = results.concat(scanDir(full, rel));\n      } else if (item.endsWith('.md')) {\n        results.push({ name: path.basename(item, '.md'), folder: base || 'root', mtime: stat.mtime.toISOString() });\n      }\n    }\n    return results;\n  }\n\n  const allNotes = scanDir(vaultPath);\n  snapshot = {\n    total_notes:    allNotes.length,\n    wiki_nodes:     allNotes.filter(n => n.folder.startsWith('01_Wiki_Nodes')).map(n => n.name),\n    council_notes:  allNotes.filter(n => n.folder.startsWith('02_The_Council')).map(n => n.name),\n    lesson_cemetery:allNotes.filter(n => n.folder.startsWith('03_Lesson_Cemetery')).map(n => n.name),\n    all_note_names: allNotes.map(n => n.name),\n    snapshot_time:  new Date().toISOString()\n  };\n\n  // Write cache\n  try {\n    fs.mkdirSync(path.join(vaultPath, '04_Meta'), { recursive: true });\n    fs.writeFileSync(cacheFile, JSON.stringify({ cached_at: new Date().toISOString(), snapshot }, null, 2), 'utf8');\n  } catch (e) { console.warn('[Snapshot] Could not write cache:', e.message); }\n}\n\nconst prevData = $input.item.json;\nreturn {\n  json: {\n    ...prevData,\n    vault_snapshot:      snapshot,\n    vault_snapshot_text: JSON.stringify(snapshot, null, 2),\n    master_prompt:       masterPrompt,\n    using_fallback_prompt: masterPrompt.includes('Inline minimal fallback')\n  }\n};"
      }
    },
    {
      "id": "a1b2c3d4-0028-4000-8000-000000000028",
      "name": "🔢 Token Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\n\nconst data           = $input.item.json;\nconst MAX_CHARS      = parseInt(process.env.SOURCE_TEXT_MAX_CHARS || '60000');\n// Rough heuristic: 1 token ≈ 4 chars; Claude Sonnet context ≈ 180K tokens input\nconst HARD_LIMIT     = 180000 * 4;\nconst rawText        = data.text || data.extractedText || data.content || '';\nconst sourceChars    = rawText.length;\n\nlet truncated        = false;\nlet processedText    = rawText;\nlet truncationNote   = '';\n\nif (sourceChars > HARD_LIMIT) {\n  processedText  = rawText.substring(0, HARD_LIMIT);\n  truncated      = true;\n  truncationNote = `⚠️ Source truncated from ${sourceChars.toLocaleString()} chars to ${HARD_LIMIT.toLocaleString()} (hard context limit).`;\n  console.warn('[TokenGuard]', truncationNote);\n} else if (sourceChars > MAX_CHARS) {\n  processedText  = rawText.substring(0, MAX_CHARS);\n  truncated      = true;\n  truncationNote = `⚠️ Source truncated from ${sourceChars.toLocaleString()} to ${MAX_CHARS.toLocaleString()} chars (SOURCE_TEXT_MAX_CHARS).`;\n  console.warn('[TokenGuard]', truncationNote);\n}\n\n// Log truncation to vault if it happened\nif (truncated) {\n  try {\n    const vaultPath = process.env.OBSIDIAN_VAULT_PATH;\n    const logDir    = path.join(vaultPath, '04_Meta');\n    fs.mkdirSync(logDir, { recursive: true });\n    const logPath   = path.join(logDir, 'truncation_log.md');\n    const entry     = `| ${new Date().toISOString()} | ${data.filename || 'unknown'} | ${sourceChars} → ${processedText.length} chars |\\n`;\n    if (!fs.existsSync(logPath)) {\n      fs.writeFileSync(logPath, `# ✂️ Source Truncation Log\\n\\n| Timestamp | Source | Chars (before → after) |\\n|-----------|--------|-----------------------|\\n`, 'utf8');\n    }\n    fs.appendFileSync(logPath, entry, 'utf8');\n  } catch (e) { console.warn('[TokenGuard] Could not write truncation log:', e.message); }\n}\n\nreturn {\n  json: {\n    ...data,\n    text:             processedText,\n    source_chars_raw: sourceChars,\n    source_truncated: truncated,\n    truncation_note:  truncationNote\n  }\n};"
      }
    },
    {
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "🧠 Claude: Decompose Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const https = require('https');\n\nconst data       = $input.item.json;\nconst model      = process.env.CLAUDE_MODEL || 'claude-sonnet-4-6';\nconst maxTokens  = parseInt(process.env.CLAUDE_MAX_TOKENS || '8192');\nconst maxChars   = parseInt(process.env.SOURCE_TEXT_MAX_CHARS || '60000');\nconst apiKey     = process.env.ANTHROPIC_API_KEY;\n\nif (!apiKey) throw new Error('[Decompose] ANTHROPIC_API_KEY env var is not set.');\n\nconst prompt = (data.master_prompt || '')\n  .replace('{{VAULT_SNAPSHOT}}', data.vault_snapshot_text || '{}')\n  .replace('{{SOURCE_TITLE}}',   data.filename            || 'Untitled Source')\n  .replace('{{SOURCE_TEXT}}',    (data.text || data.extractedText || '').substring(0, maxChars))\n  .replace('{{DATE}}',           new Date().toISOString().split('T')[0]);\n\nconst requestBody = {\n  model,\n  max_tokens: maxTokens,\n  temperature: 0.3,\n  system: data.master_prompt || '',\n  messages: [{ role: 'user', content: prompt }]\n};\n\n// ── Exponential backoff with full jitter ──────────────────────────────────────\n// delay(attempt) = min(BASE * 2^attempt, CAP) * random(0.5, 1.5)\nconst BASE_MS  = 2000;\nconst CAP_MS   = 60000;\nconst MAX_TRIES = parseInt(process.env.CLAUDE_MAX_RETRIES || '4');\n\nasync function callClaude(body) {\n  const bodyStr = JSON.stringify(body);\n  return new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'api.anthropic.com',\n      path:     '/v1/messages',\n      method:   'POST',\n      headers: {\n        'x-api-key':         apiKey,\n        'anthropic-version': '2023-06-01',\n        'content-type':      'application/json',\n        'content-length':    Buffer.byteLength(bodyStr)\n      }\n    }, res => {\n      let raw = '';\n      res.on('data', c => raw += c);\n      res.on('end', () => {\n        const retryable = res.statusCode === 429 || res.statusCode >= 500;\n        if (res.statusCode !== 200) {\n          reject({ status: res.statusCode, body: raw.substring(0, 400), retryable });\n        } else {\n          try { resolve(JSON.parse(raw)); }\n          catch (e) { reject({ message: 'JSON parse error', body: raw.substring(0, 200), retryable: false }); }\n        }\n      });\n    });\n    req.on('error', e => reject({ message: e.message, retryable: true }));\n    req.setTimeout(120000, () => { req.destroy(); reject({ message: 'Request timeout', retryable: true }); });\n    req.write(bodyStr);\n    req.end();\n  });\n}\n\nlet lastErr;\nfor (let attempt = 0; attempt < MAX_TRIES; attempt++) {\n  try {\n    const result = await callClaude(requestBody);\n    console.log(`[Decompose] Success on attempt ${attempt + 1}. Input tokens: ${result.usage?.input_tokens}, Output: ${result.usage?.output_tokens}`);\n    return { json: { ...result, _source_path: data.path || '', _attempt: attempt + 1 } };\n  } catch (err) {\n    lastErr = err;\n    if (!err.retryable) break;\n    if (attempt < MAX_TRIES - 1) {\n      const jitter = 0.5 + Math.random();  // [0.5, 1.5]\n      const delay  = Math.min(BASE_MS * Math.pow(2, attempt), CAP_MS) * jitter;\n      console.warn(`[Decompose] Attempt ${attempt + 1} failed (${err.status || err.message}). Retrying in ${Math.round(delay)}ms...`);\n      await new Promise(r => setTimeout(r, delay));\n    }\n  }\n}\n\nthrow new Error(`[Decompose] All ${MAX_TRIES} attempts failed. Last error: ${JSON.stringify(lastErr).substring(0, 400)}`);"
      }
    },
    {
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "🔬 Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $input.item.json;\nlet rawText = '';\n\nif (response.content && Array.isArray(response.content)) {\n  rawText = response.content.filter(b => b.type === 'text').map(b => b.text).join('');\n} else if (typeof response === 'string') { rawText = response; }\n\nrawText = rawText.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nlet parsed;\ntry { parsed = JSON.parse(rawText); } catch (e) {\n  const m = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (m) { try { parsed = JSON.parse(m[0]); } catch (e2) {\n    throw new Error(`JSON parse failed: ${e2.message}. Raw (500): ${rawText.substring(0,500)}`);\n  }} else { throw new Error(`No JSON in response. Raw: ${rawText.substring(0,200)}`); }\n}\n\nif (!parsed.notes || !Array.isArray(parsed.notes)) throw new Error('Missing notes array');\nif (parsed.notes.length === 0) throw new Error('Claude returned empty notes array');\n\n// ── FIX #9 — Safe field extraction with defaults ──────────────────\nconst REQUIRED = ['filename', 'folder', 'content'];\nconst BAD      = new Set(['undefined', 'null', '']);\nfor (let i = 0; i < parsed.notes.length; i++) {\n  const note = parsed.notes[i];\n  for (const field of REQUIRED) {\n    const val = note[field];\n    if (val === undefined || val === null || typeof val !== 'string') {\n      throw new Error(`Note[${i}].${field} is ${val === null ? 'null' : typeof val}. Preview: ${JSON.stringify(note).substring(0,200)}`);\n    }\n    if (BAD.has(val.trim().toLowerCase())) {\n      throw new Error(`Note[${i}].${field} has bad literal value: \"${val}\"`);\n    }\n    if (field === 'filename' && /[/\\\\]/.test(val)) {\n      throw new Error(`Note[${i}].filename contains path separator: \"${val}\". Prompt injection blocked.`);\n    }\n  }\n}\n\n// ── FIX #9 — Safe optional field defaults ────────────────────────\nparsed.council_debate_summary    = (typeof parsed.council_debate_summary === 'string')    ? parsed.council_debate_summary    : '';\nparsed.mermaid_challenge         = (typeof parsed.mermaid_challenge       === 'string')    ? parsed.mermaid_challenge         : '';\nparsed.lesson_cemetery_candidates= Array.isArray(parsed.lesson_cemetery_candidates)        ? parsed.lesson_cemetery_candidates : [];\nparsed.experiment_24h            = (parsed.experiment_24h && typeof parsed.experiment_24h === 'object') ? parsed.experiment_24h : {};\n\n// Carry source path and vault snapshot info for downstream nodes\nparsed._source_path      = $input.item.json.path     || $input.item.json._source_path || '';\nparsed._source_filename  = $input.item.json.filename || 'Unknown';\nparsed._parse_time       = new Date().toISOString();\nparsed._vault_wiki_nodes = ($input.item.json.vault_snapshot || {}).wiki_nodes || [];\n\nconsole.log(`✅ Parsed and validated ${parsed.notes.length} notes`);\nreturn { json: parsed };"
      }
    },
    {
      "id": "a1b2c3d4-0029-4000-8000-000000000029",
      "name": "📝 Write Staging Preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\n\nconst vaultPath = process.env.OBSIDIAN_VAULT_PATH;\nconst data      = $input.item.json;\nconst batchId   = data.batch_id || new Date().toISOString();\nconst safeId    = batchId.replace(/[:.]/g, '-').substring(0, 24);\n\nconst stagingDir = path.join(vaultPath, '04_Meta', '_staging');\ntry { fs.mkdirSync(stagingDir, { recursive: true }); } catch (e) {}\n\n// Build a human-readable preview\nconst noteList = (data.notes || []).map((n, i) =>\n  `${i + 1}. \\`${n.folder}/${n.filename}\\`\\n   ${(n.content || '').split('\\n').find(l => l.startsWith('title:')) || '(no title in frontmatter)'}`\n).join('\\n');\n\nconst cemetaryList = (data.lesson_cemetery_candidates || []).map(c =>\n  `- 🪦 **${c.original_filename}** — ${c.error_type}: ${(c.reason || '').substring(0, 100)}`\n).join('\\n') || '_None_';\n\nconst previewContent = `---\ntitle: \"⏳ Pending Review: ${data.source_title || 'Unknown'}\"\ndate: \"${new Date().toISOString().split('T')[0]}\"\ntags: [review-pending, ai-generated]\nbatch_id: \"${batchId}\"\nstatus: pending-review\n---\n\n# ⏳ Pending Review: ${data.source_title || 'Unknown Source'}\n\n> **Batch ID:** \\`${batchId}\\`\n> **Generated at:** ${new Date().toISOString()}\n> **Source file:** ${data.filename || 'Unknown'}\n${data.source_truncated ? `> **⚠️ Source truncated:** ${data.truncation_note}` : ''}\n${data.using_fallback_prompt ? '> **⚠️ Fallback prompt used — verify note quality**' : ''}\n\n## Proposed Notes (${(data.notes || []).length})\n\n${noteList || '_No notes generated_'}\n\n## Lesson Cemetery Candidates\n\n${cemetaryList}\n\n## Council Summary (Preview)\n\n${(data.council_debate_summary || '').substring(0, 500) || '_No council summary_'}\n\n## 24h Experiment\n\n**${data.experiment_24h?.title || 'None'}**\n${data.experiment_24h?.hypothesis || ''}\n\n---\n_Approve or reject this batch in n8n. If HUMAN_REVIEW_ENABLED=false this note is auto-approved._\n`;\n\nconst previewPath = path.join(stagingDir, `review_${safeId}.md`);\ntry {\n  fs.writeFileSync(previewPath, previewContent, 'utf8');\n} catch (err) {\n  throw new Error(`[Staging] Cannot write preview note: ${err.message}`);\n}\n\nconsole.log(`[Staging] Preview written: ${previewPath}`);\nreturn {\n  json: {\n    ...data,\n    _staging_preview_path: previewPath,\n    _batch_safe_id:        safeId\n  }\n};"
      }
    },
    {
      "id": "a1b2c3d4-0030-4000-8000-000000000030",
      "name": "🚦 Review Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2300,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ ($env.HUMAN_REVIEW_ENABLED || 'false').toLowerCase() === 'true' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0031-4000-8000-000000000031",
      "name": "📣 Send Review Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.JANITOR_WEBHOOK_URL || $env.COMPLETION_WEBHOOK_URL || 'https://httpbin.org/post' }}",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "event": "rce_review_required",
          "source": "={{ $json.source_title || $json.filename }}",
          "notes": "={{ $json.notes.length }}",
          "preview": "={{ $json._staging_preview_path }}",
          "approve_url": "={{ $execution.resumeUrl }}",
          "message": "=RCE batch ready for review. POST {\"action\":\"approve\"} or {\"action\":\"reject\"} to approve_url to continue."
        },
        "options": {
          "timeout": 10000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "a1b2c3d4-0032-4000-8000-000000000032",
      "name": "⏳ Human Review Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2700,
        180
      ],
      "webhookId": "rce-human-review-gate",
      "parameters": {
        "resume": "webhook",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0033-4000-8000-000000000033",
      "name": "✅ Review Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2900,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ ($json.body?.action || $json.action || 'approve').toLowerCase() === 'approve' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0034-4000-8000-000000000034",
      "name": "🗑️ Discard Staging",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        80
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\n\nconst vaultPath = process.env.OBSIDIAN_VAULT_PATH;\nconst data      = $input.item.json;\n\nconst previewPath = data._staging_preview_path || data.body?._staging_preview_path;\nconst batchId     = data._batch_safe_id         || data.body?._batch_safe_id || 'unknown';\n\n// ── 1. Delete the staging preview note ───────────────────────────────────────\nif (previewPath) {\n  try {\n    fs.unlinkSync(previewPath);\n    console.log(`[Reject] Deleted staging preview: ${previewPath}`);\n  } catch (e) {\n    console.warn(`[Reject] Could not delete preview (${previewPath}): ${e.message}`);\n  }\n}\n\n// ── 2. Release the .processing file lock ─────────────────────────────────────\n// The source file was renamed to <name>.processing at the start of the pipeline.\n// On rejection we move it to 00_Inbox/_rejected/ with original extension restored,\n// so the user can inspect it and re-submit manually.\nconst sourcePath = data._source_path || data.body?._source_path || '';\nif (sourcePath && fs.existsSync(sourcePath)) {\n  const rejectedDir = path.join(vaultPath, '00_Inbox', '_rejected');\n  try {\n    fs.mkdirSync(rejectedDir, { recursive: true });\n    const rawBase    = path.basename(sourcePath);\n    const cleanBase  = rawBase.endsWith('.processing')\n      ? rawBase.slice(0, -'.processing'.length)\n      : rawBase;\n    const ts         = new Date().toISOString().replace(/[:.]/g, '-').substring(0, 19);\n    const rejPath    = path.join(rejectedDir, `${ts}_${cleanBase}`);\n    fs.renameSync(sourcePath, rejPath);\n    console.log(`[Reject] Source file moved to rejected: ${rejPath}`);\n  } catch (e) {\n    // Non-fatal: best-effort unlock. Log it, don't crash.\n    console.warn(`[Reject] Could not move source to _rejected: ${e.message}`);\n    // Attempt a plain rename back (strip .processing)\n    try {\n      const cleanPath = sourcePath.replace(/\\.processing$/, '');\n      if (cleanPath !== sourcePath) {\n        fs.renameSync(sourcePath, cleanPath);\n        console.log(`[Reject] Fallback: renamed ${sourcePath} → ${cleanPath}`);\n      }\n    } catch (_) {}\n  }\n}\n\n// ── 3. Log the rejection ─────────────────────────────────────────────────────\ntry {\n  const logPath = path.join(vaultPath, '04_Meta', 'processing_log.md');\n  const entry   = `| ${new Date().toISOString()} | ${data.source_title || batchId} | 0 notes | ❌ REJECTED |\\n`;\n  if (!fs.existsSync(logPath)) {\n    fs.writeFileSync(logPath, `# 📋 Processing Log\\n\\n| Timestamp | Source | Notes | Status |\\n|-----------|--------|-------|--------|\\n`, 'utf8');\n  }\n  fs.appendFileSync(logPath, entry, 'utf8');\n} catch (e) {\n  console.warn(`[Reject] Could not write processing log: ${e.message}`);\n}\n\nconsole.log(`[Reject] Batch ${batchId} rejected and cleaned up.`);\nreturn { json: { status: 'rejected', batch_id: batchId, source_released: !!sourcePath } };"
      }
    },
    {
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "📋 Split Notes for Writing",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3100,
        300
      ],
      "parameters": {
        "batchSize": 1,
        "options": {
          "splitField": "notes"
        }
      }
    },
    {
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "💾 Write Note to Vault",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\n\nconst vaultPath     = process.env.OBSIDIAN_VAULT_PATH;\nconst resolvedVault = path.resolve(vaultPath);\nconst note          = $input.item.json;\n\n// ── Security: sanitise filename and folder ────────────────────────\nconst rawFilename = (note.filename || 'untitled.md');\nconst safeFilename = rawFilename\n  .replace(/\\.\\.[/\\\\]/g, '')\n  .replace(/^[/\\\\]+/, '')\n  .replace(/[<>:\"/\\\\|?*]/g, '-')\n  .replace(/\\s+/g, '_')\n  .replace(/-{2,}/g, '-');\n\nif (!safeFilename || safeFilename === '.md' || safeFilename === '-') {\n  throw new Error(`[WriteNote] Sanitised filename invalid. Original: \"${rawFilename}\"`);\n}\n\nconst rawFolder    = (note.folder || '01_Wiki_Nodes').replace(/\\.\\.[/\\\\]/g, '').replace(/^[/\\\\]+/, '');\nconst targetFolder = path.resolve(resolvedVault, rawFolder);\n\nif (!targetFolder.startsWith(resolvedVault + path.sep) && targetFolder !== resolvedVault) {\n  throw new Error(`SECURITY: folder \"${note.folder}\" escapes vault root. Write blocked.`);\n}\n\ntry { fs.mkdirSync(targetFolder, { recursive: true }); } catch (e) {\n  throw new Error(`Cannot create folder ${targetFolder}: ${e.message}`);\n}\n\nconst fullPath     = path.join(targetFolder, safeFilename);\nconst resolvedFull = path.resolve(fullPath);\nif (!resolvedFull.startsWith(resolvedVault + path.sep)) {\n  throw new Error(`SECURITY: resolved path \"${resolvedFull}\" escapes vault root. Write blocked.`);\n}\n\n// ── FIX #6 — Merge Intelligence ───────────────────────────────────\n// Check if an existing note shares the same concept slug (title minus prefix number)\n// e.g., \"02_Entity_RecursiveLearning\" matches \"02_Entity_RecursiveLearning\"\n// If matched, APPEND an update section rather than create a duplicate.\nconst newContent = note.content || '';\n\nfunction extractSlug(fname) {\n  return fname.replace(/\\.md$/, '').replace(/^\\d+_[^_]+_/, '').toLowerCase().replace(/[_-]+/g, ' ');\n}\n\nconst newSlug = extractSlug(safeFilename);\nlet mergeTarget = null;\n\n// Check vault snapshot for potential merge targets (passed through pipeline)\nconst wikiNodes = (note._vault_wiki_nodes || []);\nfor (const existingName of wikiNodes) {\n  if (existingName.toLowerCase() === safeFilename.replace('.md','').toLowerCase()) {\n    // Exact name match — this is handled by versioning below, not merging\n    break;\n  }\n  const existingSlug = extractSlug(existingName + '.md');\n  // Simple edit-distance proxy: if slugs share > 70% of words, treat as mergeable\n  const newWords      = new Set(newSlug.split(' ').filter(w => w.length > 3));\n  const existingWords = new Set(existingSlug.split(' ').filter(w => w.length > 3));\n  if (newWords.size === 0) break;\n  const intersection  = [...newWords].filter(w => existingWords.has(w)).length;\n  const overlap       = intersection / Math.max(newWords.size, existingWords.size);\n  if (overlap >= 0.70) {\n    mergeTarget = existingName;\n    break;\n  }\n}\n\nif (mergeTarget) {\n  // Merge: find existing file in 01_Wiki_Nodes and append update section\n  const existingPath = path.join(resolvedVault, '01_Wiki_Nodes', mergeTarget + '.md');\n  if (fs.existsSync(existingPath)) {\n    try {\n      const updateSection = `\\n\\n---\\n\\n## 🔄 Update — ${new Date().toISOString().split('T')[0]}\\n\\n> _Merged from: ${safeFilename}_\\n\\n${newContent.split('---').slice(2).join('---').trim()}`;\n      // Atomic merge: read → modify → write via tmp\n      const existingContent = fs.readFileSync(existingPath, 'utf8');\n      const mergedContent   = existingContent + updateSection;\n      const mergeTmp        = existingPath + '.tmp';\n      fs.writeFileSync(mergeTmp, mergedContent, 'utf8');\n      fs.renameSync(mergeTmp, existingPath);\n      console.log(`🔀 Merged into existing note: ${mergeTarget}.md`);\n      return { json: { status: 'merged', merged_into: mergeTarget, filename: safeFilename } };\n    } catch (e) {\n      console.warn(`[WriteNote] Merge failed (${e.message}), falling through to normal write.`);\n    }\n  }\n}\n\n// ── Normal write path ─────────────────────────────────────────────\ntry {\n  if (fs.existsSync(fullPath)) {\n    let existing;\n    try { existing = fs.readFileSync(fullPath, 'utf8'); } catch (e) {\n      throw new Error(`Cannot read existing ${fullPath}: ${e.message}`);\n    }\n    if (existing.trim() === newContent.trim()) {\n      console.log(`⏭️ Skipped duplicate: ${safeFilename}`);\n      return { json: { status: 'skipped_duplicate', filename: safeFilename } };\n    }\n    const ts = Date.now();\n    try { fs.renameSync(fullPath, fullPath.replace(/\\.md$/, `_v${ts}.md`)); } catch (e) {\n      throw new Error(`Cannot version ${fullPath}: ${e.message}`);\n    }\n\n    // ── Version pruning ────────────────────────────────────────────\n    const MAX_VERSIONS = parseInt(process.env.MAX_NOTE_VERSIONS || '5');\n    const base         = safeFilename.replace(/\\.md$/, '');\n    const escaped      = base.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n    const vPat         = new RegExp(`^${escaped}_v\\\\d+\\\\.md$`);\n    let   siblings     = [];\n    try { siblings = fs.readdirSync(targetFolder); } catch (_) {}\n    const old = siblings.filter(f => vPat.test(f)).sort();\n    while (old.length > MAX_VERSIONS) {\n      const oldest = old.shift();\n      try { fs.unlinkSync(path.join(targetFolder, oldest)); console.log(`🗑️ Pruned: ${oldest}`); }\n      catch (e) { console.warn(`Prune failed (${oldest}): ${e.message}`); }\n    }\n  }\n\n  // Atomic write: write to .tmp then rename to avoid partial-write corruption\n  const tmpPath = fullPath + '.tmp';\n  fs.writeFileSync(tmpPath, newContent, 'utf8');\n  fs.renameSync(tmpPath, fullPath);\n  console.log(`✅ Written: ${fullPath}`);\n  return { json: { status: 'written', filename: safeFilename, folder: note.folder,\n                   path: fullPath, bytes: Buffer.byteLength(newContent, 'utf8') } };\n} catch (err) {\n  throw new Error(`[WriteNote] ${err.message}`);\n}"
      }
    },
    {
      "id": "a1b2c3d4-0021-4000-8000-000000000021",
      "name": "📋 Write Processing Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\n\nconst vaultPath = process.env.OBSIDIAN_VAULT_PATH;\nconst logFolder = path.join(vaultPath, '04_Meta');\nconst data      = $input.item.json;\n\ntry { fs.mkdirSync(logFolder, { recursive: true }); } catch (e) {\n  throw new Error(`Cannot create meta folder: ${e.message}`);\n}\n\nconst logPath = path.join(logFolder, 'processing_log.md');\nconst inputTok = data.usage?.input_tokens  || data._input_tokens  || '-';\nconst outTok   = data.usage?.output_tokens || data._output_tokens || '-';\nconst attempts = data._attempt || 1;\nconst entry    = `| ${new Date().toISOString()} | ${data.source_title || 'Unknown'} | ${(data.notes || []).length} | ✅ | ${inputTok}/${outTok} tok | attempt ${attempts} |\\n`;\n\ntry {\n  if (!fs.existsSync(logPath)) {\n    fs.writeFileSync(logPath, `# 📋 Processing Log\\n\\n| Timestamp | Source | Notes | Status | Tokens (in/out) | Retry |\\n|-----------|--------|-------|--------|-----------------|-------|\\n`, 'utf8');\n  }\n  fs.appendFileSync(logPath, entry, 'utf8');\n} catch (e) { throw new Error(`Cannot write processing log: ${e.message}`); }\n\nconsole.log('📋 Processing log updated');\nreturn { json: { status: 'logged', entry } };"
      }
    },
    {
      "id": "a1b2c3d4-0035-4000-8000-000000000035",
      "name": "📦 Archive Source File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3700,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\n\nconst vaultPath  = process.env.OBSIDIAN_VAULT_PATH;\n// The source path travels through the pipeline from the trigger node\n// We stored it in _source_path during Parse Claude Response\nconst sourcePath = $input.item.json._source_path\n  || $input.item.json.path\n  || '';\n\nif (!sourcePath || !fs.existsSync(sourcePath)) {\n  console.log('[Archive] No source file to archive or file already moved.');\n  return { json: { status: 'skipped', reason: 'source_not_found', path: sourcePath } };\n}\n\nconst archiveDir  = path.join(vaultPath, '05_Sources');\ntry { fs.mkdirSync(archiveDir, { recursive: true }); } catch (e) {}\n\nconst rawBaseName  = path.basename(sourcePath);\nconst baseName    = rawBaseName.endsWith('.processing')\n  ? rawBaseName.slice(0, -'.processing'.length)\n  : rawBaseName;\nconst datestamp   = new Date().toISOString().split('T')[0];\nconst archiveName = `${datestamp}_${baseName}`;\nconst archivePath = path.join(archiveDir, archiveName);\n\n// Avoid clobbering an existing archive entry\nconst finalPath   = fs.existsSync(archivePath)\n  ? archivePath.replace(/(\\.\\w+)$/, `_${Date.now()}$1`)\n  : archivePath;\n\ntry {\n  fs.renameSync(sourcePath, finalPath);\n  console.log(`📦 Archived: ${sourcePath} → ${finalPath}`);\n  return { json: { status: 'archived', source: sourcePath, destination: finalPath } };\n} catch (err) {\n  // Non-fatal: archiving failure should not break the rest of the pipeline\n  console.warn(`[Archive] Could not move file: ${err.message}`);\n  return { json: { status: 'archive_failed', error: err.message, source: sourcePath } };\n}"
      }
    },
    {
      "id": "a1b2c3d4-0036-4000-8000-000000000036",
      "name": "📣 Completion Notifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3900,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\n\nconst vaultPath = process.env.OBSIDIAN_VAULT_PATH;\nconst data      = $input.item.json;\nconst batchId   = data.batch_id   || data._batch_safe_id || 'unknown';\nconst noteCount = (data.notes     || []).length;\nconst source    = data.source_title || data.filename || 'Unknown';\nconst date      = new Date().toISOString().split('T')[0];\n\n// ── Write a summary note to 04_Meta ──────────────────────────────\nconst summaryContent = `---\ntitle: \"✅ Processed: ${source}\"\ndate: \"${date}\"\ntags: [processing-complete, meta]\nbatch_id: \"${batchId}\"\nstatus: complete\n---\n\n# ✅ Processing Complete: ${source}\n\n| Field | Value |\n|-------|-------|\n| **Source** | ${source} |\n| **Batch ID** | \\`${batchId}\\` |\n| **Completed** | ${new Date().toISOString()} |\n| **Notes generated** | ${noteCount} |\n| **Cemetery candidates** | ${(data.lesson_cemetery_candidates || []).length} |\n| **Source archived** | ${data.archive_status || 'see archive node'} |\n\n## Quick Links\n\n${(data.notes || []).slice(0, 5).map(n => `- [[${n.filename?.replace('.md','')}]]`).join('\\n') || '_No notes_'}\n${noteCount > 5 ? `_...and ${noteCount - 5} more_` : ''}\n\n## 24h Experiment\n\n**${data.experiment_24h?.title || 'None'}**\n`;\n\ntry {\n  const metaDir = path.join(vaultPath, '04_Meta');\n  fs.mkdirSync(metaDir, { recursive: true });\n  const ts      = new Date().toISOString().replace(/[:.]/g, '-').substring(0, 19);\n  const sumPath = path.join(metaDir, `completed_${ts}.md`);\n  fs.writeFileSync(sumPath, summaryContent, 'utf8');\n  console.log(`✅ Completion note written: ${sumPath}`);\n} catch (e) { console.warn('[Completion] Could not write summary note:', e.message); }\n\n// ── Fire completion webhook ───────────────────────────────────────\nconst webhookUrl = process.env.JANITOR_WEBHOOK_URL || process.env.COMPLETION_WEBHOOK_URL || '';\nif (webhookUrl) {\n  try {\n    const https = require(webhookUrl.startsWith('https') ? 'https' : 'http');\n    const body  = JSON.stringify({\n      event:   'rce_complete',\n      source:   source,\n      batch_id: batchId,\n      notes:    noteCount,\n      time:     new Date().toISOString()\n    });\n    await new Promise((resolve) => {\n      const req = https.request(webhookUrl, { method: 'POST',\n        headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body) }\n      }, resolve);\n      req.on('error', e => console.warn('[Completion] Webhook error:', e.message));\n      req.write(body); req.end();\n    });\n    console.log('[Completion] Webhook fired:', webhookUrl);\n  } catch (e) { console.warn('[Completion] Webhook failed:', e.message); }\n}\n\nreturn { json: { status: 'complete', batch_id: batchId, notes_written: noteCount } };"
      }
    },
    {
      "id": "a1b2c3d4-0013-4000-8000-000000000013",
      "name": "🏛️ Council Audit Branch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3100,
        480
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ typeof $json.council_debate_summary === 'string' && $json.council_debate_summary.trim().length > 0 }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0014-4000-8000-000000000014",
      "name": "⚖️ Deep Council Debate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        440
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const https = require('https');\n\nconst data    = $input.item.json;\nconst model   = process.env.CLAUDE_MODEL || 'claude-sonnet-4-6';\nconst apiKey  = process.env.ANTHROPIC_API_KEY;\n\nif (!apiKey) throw new Error('[Council] ANTHROPIC_API_KEY env var is not set.');\n\n// ── Sanitise council_debate_summary to prevent prompt injection ───────────────\n// Summary travels in the system role (authority boundary), not user role.\nconst rawSummary = (typeof data.council_debate_summary === 'string')\n  ? data.council_debate_summary\n  : '[no summary provided]';\nconst safeSummary = rawSummary\n  .replace(/[\\u0000-\\u001F]/g, ' ')   // strip control characters\n  .replace(/system:/gi,  '[SYSTEM]')   // neutralise role-injection keywords\n  .replace(/human:/gi,   '[HUMAN]')\n  .replace(/assistant:/gi, '[ASSISTANT]')\n  .substring(0, 8000);\n\nconst systemPrompt =\n  'COUNCIL CONTEXT — background material generated by a prior AI step:\\n' + safeSummary;\n\nconst userMessage =\n  `You are running a LIVE COUNCIL DEBATE for source: \"${data.source_title || 'Unknown'}\".\\n\\n` +\n  `Four advisors must debate the insights described in your system context:\\n` +\n  `1. Feynman: technical breakdown\\n` +\n  `2. Bezos: scalability/business angle\\n` +\n  `3. Kahneman: 2 cognitive biases present\\n` +\n  `4. Aurelius: virtue/resilience test\\n` +\n  `5. VERDICT: one-sentence synthesis\\n\\n` +\n  `Generate the full structured debate as Obsidian Markdown with YAML frontmatter and [[Wikilinks]] to related source notes.`;\n\nconst requestBody = {\n  model,\n  max_tokens: 4096,\n  temperature: 0.7,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userMessage }]\n};\n\n// ── Exponential backoff with full jitter ──────────────────────────────────────\nconst BASE_MS   = 2000;\nconst CAP_MS    = 60000;\nconst MAX_TRIES = parseInt(process.env.CLAUDE_MAX_RETRIES || '4');\n\nasync function callClaude(body) {\n  const bodyStr = JSON.stringify(body);\n  return new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'api.anthropic.com',\n      path:     '/v1/messages',\n      method:   'POST',\n      headers: {\n        'x-api-key':         apiKey,\n        'anthropic-version': '2023-06-01',\n        'content-type':      'application/json',\n        'content-length':    Buffer.byteLength(bodyStr)\n      }\n    }, res => {\n      let raw = '';\n      res.on('data', c => raw += c);\n      res.on('end', () => {\n        const retryable = res.statusCode === 429 || res.statusCode >= 500;\n        if (res.statusCode !== 200) {\n          reject({ status: res.statusCode, body: raw.substring(0, 400), retryable });\n        } else {\n          try { resolve(JSON.parse(raw)); }\n          catch (e) { reject({ message: 'JSON parse error', body: raw.substring(0, 200), retryable: false }); }\n        }\n      });\n    });\n    req.on('error', e => reject({ message: e.message, retryable: true }));\n    req.setTimeout(90000, () => { req.destroy(); reject({ message: 'Request timeout', retryable: true }); });\n    req.write(bodyStr);\n    req.end();\n  });\n}\n\nlet lastErr;\nfor (let attempt = 0; attempt < MAX_TRIES; attempt++) {\n  try {\n    const result = await callClaude(requestBody);\n    console.log(`[Council] Success on attempt ${attempt + 1}. Tokens: ${result.usage?.output_tokens}`);\n    return { json: { ...result, _attempt: attempt + 1 } };\n  } catch (err) {\n    lastErr = err;\n    if (!err.retryable) break;\n    if (attempt < MAX_TRIES - 1) {\n      const jitter = 0.5 + Math.random();\n      const delay  = Math.min(BASE_MS * Math.pow(2, attempt), CAP_MS) * jitter;\n      console.warn(`[Council] Attempt ${attempt + 1} failed (${err.status || err.message}). Retrying in ${Math.round(delay)}ms...`);\n      await new Promise(r => setTimeout(r, delay));\n    }\n  }\n}\n\nthrow new Error(`[Council] All ${MAX_TRIES} attempts failed. Last: ${JSON.stringify(lastErr).substring(0, 400)}`);"
      }
    },
    {
      "id": "a1b2c3d4-0015-4000-8000-000000000015",
      "name": "💾 Write Council Note",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        440
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\nconst vaultPath = process.env.OBSIDIAN_VAULT_PATH;\nconst response  = $input.item.json;\nlet content = '';\nif (response.content && Array.isArray(response.content)) {\n  content = response.content.filter(b => b.type === 'text').map(b => b.text).join('');\n}\nif (!content) { console.warn('Empty council note, skipping'); return { json: { status: 'skipped_empty' } }; }\nconst ts     = new Date().toISOString().replace(/[:.]/g, '-').substring(0, 19);\nconst folder = path.join(vaultPath, '02_The_Council');\ntry { fs.mkdirSync(folder, { recursive: true }); } catch (e) { throw new Error(`Cannot create council folder: ${e.message}`); }\nconst fname = `Council_Debate_${ts}.md`;\nconst fpath = path.join(folder, fname);\ntry { fs.writeFileSync(fpath, content, 'utf8'); } catch (e) { throw new Error(`Cannot write council note: ${e.message}`); }\nconsole.log(`✅ Council note: ${fpath}`);\nreturn { json: { status: 'written', path: fpath, filename: fname } };"
      }
    },
    {
      "id": "a1b2c3d4-0016-4000-8000-000000000016",
      "name": "🗺️ Mermaid Visual Branch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3100,
        620
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ typeof $json.mermaid_challenge === 'string' && $json.mermaid_challenge.trim().length > 0 }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0017-4000-8000-000000000017",
      "name": "💾 Write Mermaid Visual Note",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        580
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\nconst vaultPath = process.env.OBSIDIAN_VAULT_PATH;\nconst data      = $input.item.json;\nconst date      = new Date().toISOString().split('T')[0];\nconst slug      = (data.source_title || 'Unknown').replace(/\\s+/g,'_').replace(/[^a-zA-Z0-9_]/g,'').substring(0,40);\nconst content   = `---\ntitle: \"Visual Socratic Challenge: ${data.source_title || 'Unknown'}\"\ndate: \"${date}\"\ntags: [ai-generated, draft, mermaid, socratic]\ncouncil-patron: Feynman\nsource: \"[[01_Index_${slug}]]\"\nstatus: draft\ncssclass: mermaid-challenge\n---\\n\\n# 🗺️ Visual Socratic Challenge\\n\\n${data.mermaid_challenge || '```mermaid\\nflowchart TD\\n    A[Claim] --> B{Test}\\n```'}\\n\\n## Backlinks\\n\\n[[01_Index_${slug}]] · [[06_Council_Audit]]`;\nconst folder = path.join(vaultPath, '01_Wiki_Nodes');\nconst fname  = `07_Mermaid_Visual_${slug}_${Date.now()}.md`;\nconst fpath  = path.join(folder, fname);\ntry { fs.mkdirSync(folder, { recursive: true }); fs.writeFileSync(fpath, content, 'utf8'); }\ncatch (e) { throw new Error(`Cannot write Mermaid note: ${e.message}`); }\nconsole.log(`✅ Mermaid: ${fpath}`);\nreturn { json: { status: 'written', path: fpath, filename: fname } };"
      }
    },
    {
      "id": "a1b2c3d4-0018-4000-8000-000000000018",
      "name": "⚰️ Lesson Cemetery Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3100,
        760
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ Array.isArray($json.lesson_cemetery_candidates) && $json.lesson_cemetery_candidates.length > 0 }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0019-4000-8000-000000000019",
      "name": "⚰️ Move to Lesson Cemetery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        720
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\nconst vaultPath   = process.env.OBSIDIAN_VAULT_PATH;\nconst candidates  = $input.item.json.lesson_cemetery_candidates || [];\nconst date        = new Date().toISOString().split('T')[0];\nconst cDir        = path.join(vaultPath, '03_Lesson_Cemetery');\ntry { fs.mkdirSync(cDir, { recursive: true }); } catch (e) { throw new Error(`Cannot create cemetery: ${e.message}`); }\nconst moved = [];\nfor (const c of candidates) {\n  const content = `---\\ntitle: \"⚰️ REFUTED: ${c.original_filename || 'Unknown'}\"\\ndate: \"${date}\"\\ntags: [refuted, lesson-cemetery, ${c.error_type || '#logical-fallacy'}]\\ncouncil-patron: Kahneman\\nstatus: refuted\\ncssclass: lesson-cemetery\\n---\\n\\n# ⚰️ ${c.original_filename || 'Unknown'}\\n\\n**Refutation:** ${c.reason || 'No reason'}\\n**Error type:** ${c.error_type || 'Unknown'}\\n`;\n  const fname = `REFUTED_${(c.original_filename||'claim').replace(/[^a-zA-Z0-9_]/g,'_')}_${Date.now()}.md`;\n  try { fs.writeFileSync(path.join(cDir, fname), content, 'utf8'); moved.push(fname); }\n  catch (e) { console.error(`Cannot write cemetery note ${fname}: ${e.message}`); }\n}\nreturn { json: { status: 'cemetery_updated', moved_count: moved.length, entries: moved } };"
      }
    },
    {
      "id": "a1b2c3d4-0020-4000-8000-000000000020",
      "name": "📊 Write 24h Experiment Note",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        900
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\nconst vaultPath = process.env.OBSIDIAN_VAULT_PATH;\nconst data      = $input.item.json;\nconst exp       = data.experiment_24h || {};\nconst date      = new Date().toISOString().split('T')[0];\nconst slug      = (data.source_title||'Unknown').replace(/\\s+/g,'_').replace(/[^a-zA-Z0-9_]/g,'').substring(0,40);\nif (!exp.title) { console.log('No experiment, skipping'); return { json: { status: 'skipped' } }; }\nconst steps = (exp.steps||[]).map((s,i)=>`${i+1}. ${s}`).join('\\n');\nconst content = `---\\ntitle: \"⚗️ ${exp.title}\"\\ndate: \"${date}\"\\ntags: [ai-generated, draft, experiment, n8n]\\ncouncil-patron: Bezos\\nsource: \"[[01_Index_${slug}]]\"\\nstatus: pending\\ncssclass: experiment-active\\n---\\n\\n# ⚗️ ${exp.title}\\n\\n**Hypothesis:** ${exp.hypothesis||'undefined'}\\n\\n## Steps\\n\\n${steps}\\n\\n**Success metric:** ${exp.success_metric||'undefined'}\\n\\n**AI angle:** ${exp.ai_automation_angle||'undefined'}\\n\\n## Backlinks\\n\\n[[01_Index_${slug}]] · [[06_Council_Audit]]\\n`;\nconst folder = path.join(vaultPath, '01_Wiki_Nodes');\nconst fname  = `08_24h_Experiment_${slug}_${Date.now()}.md`;\nconst fpath  = path.join(folder, fname);\ntry { fs.mkdirSync(folder,{recursive:true}); fs.writeFileSync(fpath, content, 'utf8'); }\ncatch (e) { throw new Error(`Cannot write experiment: ${e.message}`); }\nreturn { json: { status:'written', path: fpath, filename: fname } };"
      }
    },
    {
      "id": "a1b2c3d4-0022-4000-8000-000000000022",
      "name": "🚨 Error Handler",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        600
      ]
    },
    {
      "id": "a1b2c3d4-0023-4000-8000-000000000023",
      "name": "🪵 Log Error to Vault",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        600
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\n\nconst vaultPath = process.env.OBSIDIAN_VAULT_PATH;\nconst error     = $input.item.json;\nconst timestamp = new Date().toISOString();\n\nconst entry = `\n---\n\n## ❌ Error — ${timestamp}\n\n**Node:** ${error.execution?.lastNodeExecuted || 'Unknown'}\n**Message:** ${error.execution?.error?.message || JSON.stringify(error).substring(0, 300)}\n\n\\`\\`\\`json\n${JSON.stringify(error, null, 2).substring(0, 1000)}\n\\`\\`\\`\n`;\n\ntry {\n  const logDir = path.join(vaultPath, '04_Meta');\n  fs.mkdirSync(logDir, { recursive: true });\n  const logPath = path.join(logDir, 'error_log.md');\n  if (!fs.existsSync(logPath)) fs.writeFileSync(logPath, '# ❌ Error Log\\n\\n', 'utf8');\n  fs.appendFileSync(logPath, entry, 'utf8');\n} catch (e) {\n  console.error('CRITICAL: Cannot write error log:', e.message);\n  console.error('Original error:', JSON.stringify(error).substring(0, 500));\n}\n\nreturn { json: { error_logged: true, timestamp } };"
      }
    },
    {
      "id": "a1b2c3d4-0024-4000-8000-000000000024",
      "name": "🗓️ Weekly Janitor Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        900
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                0
              ],
              "triggerAtHour": 3,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0025-4000-8000-000000000025",
      "name": "🧹 File-Age Pruning Scan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        900
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\n\nconst vaultPath          = process.env.OBSIDIAN_VAULT_PATH;\nconst wikiFolder         = path.join(vaultPath, '01_Wiki_Nodes');\nconst staleThresholdDays = parseInt(process.env.JANITOR_STALE_DAYS || '90');\n\nif (!fs.existsSync(wikiFolder)) {\n  return [{ json: { status: 'no_wiki_folder', stale_notes: [], orphan_notes: [], all_titles: [] } }];\n}\n\nlet files;\ntry { files = fs.readdirSync(wikiFolder).filter(f => f.endsWith('.md')); }\ncatch (err) { throw new Error(`Cannot list wiki folder: ${err.message}`); }\n\n// O(n) single-pass content + stat map\nconst contentMap = {};\nconst statMap    = {};\nfor (const file of files) {\n  const full = path.join(wikiFolder, file);\n  try { statMap[file] = fs.statSync(full); contentMap[file] = fs.readFileSync(full, 'utf8'); }\n  catch (e) { console.warn(`Cannot read ${file}: ${e.message}`); contentMap[file] = ''; }\n}\n\n// Build wikilink index O(total_chars)\nconst linkedTitles = new Set();\nconst wikiRe       = /\\[\\[([^\\]|#]+)(?:[|#][^\\]]*)?\\]\\]/g;\nfor (const content of Object.values(contentMap)) {\n  let m;\n  while ((m = wikiRe.exec(content)) !== null) linkedTitles.add(m[1].trim());\n}\n\nconst now    = Date.now();\nconst stale  = [];\nconst orphans = [];\n\nfor (const file of files) {\n  const content = contentMap[file];\n  const stat    = statMap[file];\n  if (!stat) continue;\n  const ageDays = (now - stat.mtime.getTime()) / (1000 * 60 * 60 * 24);\n  if (ageDays > staleThresholdDays && content.includes('status: draft')) {\n    stale.push({ file, ageDays: Math.round(ageDays), path: path.join(wikiFolder, file) });\n  }\n  const title = file.replace(/\\.md$/, '');\n  if (!linkedTitles.has(title) && content.includes('ai-generated')) {\n    orphans.push({ file, path: path.join(wikiFolder, file) });\n  }\n}\n\nconsole.log(`🧹 Janitor: ${files.length} files — ${stale.length} stale, ${orphans.length} orphans`);\n\nreturn [{\n  json: {\n    status:        'scan_complete',\n    stale_notes:   stale,\n    orphan_notes:  orphans,\n    total_scanned: files.length,\n    all_titles:    files,\n    scan_time:     new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0037-4000-8000-000000000037",
      "name": "🤖 Semantic Similarity Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        900
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\n\nconst data        = $input.item.json;\nconst staleNotes  = data.stale_notes  || [];\nconst orphanNotes = data.orphan_notes || [];\nconst allTitles   = data.all_titles   || [];\nconst vaultPath   = process.env.OBSIDIAN_VAULT_PATH;\nconst wikiFolder  = path.join(vaultPath, '01_Wiki_Nodes');\nconst SIM_THRESH  = parseFloat(process.env.SEMANTIC_SIM_THRESHOLD || '0.72');\n\n// ── Helpers ──────────────────────────────────────────────────────────────────\nfunction tokenize(text) {\n  return text.toLowerCase()\n    .replace(/---[\\s\\S]*?---/, '')          // strip YAML frontmatter\n    .replace(/```[\\s\\S]*?```/g, '')         // strip code blocks\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .split(/\\s+/)\n    .filter(w => w.length > 2 && !STOPWORDS.has(w));\n}\n\nconst STOPWORDS = new Set([\n  'the','and','for','are','but','not','you','all','can','had','her',\n  'was','one','our','out','day','get','has','him','his','how','its',\n  'may','new','now','old','see','two','way','who','with','this','that',\n  'from','they','been','have','more','will','also','into','than','then',\n  'when','what','some','each','make','like','time','just','know','take',\n  'year','your','good','much','well','very','after','back','first','great',\n  'long','made','many','most','over','such','used','work'\n]);\n\nfunction buildTFIDF(docs) {\n  // TF: term freq normalised per doc\n  const tf = docs.map(tokens => {\n    const freq = {};\n    for (const t of tokens) freq[t] = (freq[t] || 0) + 1;\n    const total = tokens.length || 1;\n    Object.keys(freq).forEach(k => freq[k] /= total);\n    return freq;\n  });\n  // IDF: log(N / df)\n  const df = {};\n  for (const freq of tf)\n    for (const t of Object.keys(freq)) df[t] = (df[t] || 0) + 1;\n  const N = docs.length;\n  const idf = {};\n  for (const t of Object.keys(df)) idf[t] = Math.log((N + 1) / (df[t] + 1)) + 1;\n  // TF-IDF vectors\n  return tf.map(freq => {\n    const vec = {};\n    for (const [t, v] of Object.entries(freq)) vec[t] = v * (idf[t] || 1);\n    return vec;\n  });\n}\n\nfunction cosine(a, b) {\n  const keys = new Set([...Object.keys(a), ...Object.keys(b)]);\n  let dot = 0, mA = 0, mB = 0;\n  for (const k of keys) {\n    const va = a[k] || 0, vb = b[k] || 0;\n    dot += va * vb; mA += va * va; mB += vb * vb;\n  }\n  return (mA && mB) ? dot / (Math.sqrt(mA) * Math.sqrt(mB)) : 0;\n}\n\n// ── Load note contents ────────────────────────────────────────────────────────\nconst candidates = [...staleNotes, ...orphanNotes];\nif (candidates.length === 0) {\n  console.log('[TF-IDF] No candidates to check. Skipping.');\n  return { json: { ...data, semantic_duplicates: [], tfidf_mode: true } };\n}\n\n// Load candidate content + a sample of all wiki notes for IDF corpus\nconst corpus = [];\nconst loaded  = [];\n\n// First load candidates\nfor (const note of candidates) {\n  let content = '';\n  try { content = fs.readFileSync(note.path || path.join(wikiFolder, note.file), 'utf8'); }\n  catch (e) { console.warn(`[TF-IDF] Cannot read ${note.file}: ${e.message}`); }\n  corpus.push(tokenize(content || note.file));\n  loaded.push(note.file);\n}\n\n// Add up to 100 random vault notes for IDF richness\nconst allMd = allTitles.filter(f => f.endsWith('.md'));\nconst sample = allMd.sort(() => Math.random() - 0.5).slice(0, 100);\nconst sampleTokens = [];\nfor (const fname of sample) {\n  let content = '';\n  try { content = fs.readFileSync(path.join(wikiFolder, fname), 'utf8'); }\n  catch (_) {}\n  sampleTokens.push(tokenize(content || fname));\n}\n\nconst allCorpus = [...corpus, ...sampleTokens];\nconst tfidfVecs = buildTFIDF(allCorpus);\nconst candidateVecs = tfidfVecs.slice(0, candidates.length);\n\n// ── Pairwise cosine similarity on candidates ──────────────────────────────────\nconst duplicateGroups = [];\nconst grouped = new Set();\n\nfor (let i = 0; i < candidates.length; i++) {\n  if (grouped.has(i)) continue;\n  const group = [loaded[i]];\n  for (let j = i + 1; j < candidates.length; j++) {\n    if (grouped.has(j)) continue;\n    const sim = cosine(candidateVecs[i], candidateVecs[j]);\n    if (sim >= SIM_THRESH) {\n      group.push(loaded[j]);\n      grouped.add(j);\n    }\n  }\n  if (group.length > 1) {\n    grouped.add(i);\n    duplicateGroups.push({\n      group,\n      reason: `TF-IDF cosine similarity ≥ ${SIM_THRESH} (local computation, zero API cost)`\n    });\n  }\n}\n\nconsole.log(`[TF-IDF] Checked ${candidates.length} candidates. Found ${duplicateGroups.length} duplicate groups.`);\nreturn {\n  json: {\n    ...data,\n    semantic_duplicates: duplicateGroups,\n    tfidf_mode: true,\n    candidates_checked: candidates.length\n  }\n};"
      }
    },
    {
      "id": "a1b2c3d4-0038-4000-8000-000000000038",
      "name": "🔍 Parse Semantic Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        900
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $input.item.json;\nconst data     = $input.item.json;  // includes upstream janitor data\n\nlet rawText = '';\nif (response.content && Array.isArray(response.content)) {\n  rawText = response.content.filter(b => b.type === 'text').map(b => b.text).join('');\n}\nrawText = rawText.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nlet semanticDuplicates = [];\ntry {\n  const parsed = JSON.parse(rawText);\n  if (Array.isArray(parsed)) semanticDuplicates = parsed;\n} catch (e) {\n  console.warn('[SemanticCheck] Could not parse Claude response:', e.message);\n}\n\nconsole.log(`[SemanticCheck] Found ${semanticDuplicates.length} duplicate groups.`);\nreturn {\n  json: {\n    ...data,\n    semantic_duplicates: semanticDuplicates\n  }\n};"
      }
    },
    {
      "id": "a1b2c3d4-0026-4000-8000-000000000026",
      "name": "📢 Janitor Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        900
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.JANITOR_WEBHOOK_URL || 'https://httpbin.org/post' }}",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "text": "=🧹 *RCE Weekly Janitor Report*\n📊 Scanned: {{ $json.total_scanned }} notes\n⏰ Stale: {{ $json.stale_notes.length }}\n👻 Orphans: {{ $json.orphan_notes.length }}\n🔗 Semantic duplicate groups: {{ ($json.semantic_duplicates||[]).length }}\n🕐 Run: {{ $json.scan_time }}",
          "stale": "={{ $json.stale_notes }}",
          "orphans": "={{ $json.orphan_notes }}",
          "semantic_duplicates": "={{ $json.semantic_duplicates || [] }}"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0039-4000-8000-000000000039",
      "name": "🔒 Lock: Mark as Processing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        350,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\n\nconst filePath = $input.item.json.path;\nif (!filePath || !fs.existsSync(filePath)) {\n  throw new Error(`[Lock] File not found or already moved: ${filePath}`);\n}\n\n// Skip if already marked (idempotent guard)\nif (filePath.endsWith('.processing')) {\n  return { json: { ...$input.item.json, path: filePath } };\n}\n\nconst lockedPath = filePath + '.processing';\n\n// If a .processing twin already exists, a prior run crashed mid-flight.\n// Remove the stale lock so this run can proceed cleanly.\nif (fs.existsSync(lockedPath)) {\n  console.warn(`[Lock] Stale lock found at ${lockedPath} — removing and re-locking.`);\n  try { fs.unlinkSync(lockedPath); } catch (e) { /* ignore */ }\n}\n\ntry {\n  fs.renameSync(filePath, lockedPath);\n  console.log(`[Lock] Renamed ${filePath} → ${lockedPath}`);\n} catch (err) {\n  throw new Error(`[Lock] Cannot rename file to .processing: ${err.message}`);\n}\n\nreturn { json: { ...$input.item.json, path: lockedPath } };"
      }
    }
  ],
  "connections": {
    "📥 Inbox File Trigger": {
      "main": [
        [
          {
            "node": "🔒 Lock: Mark as Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Validate File Type": {
      "main": [
        [
          {
            "node": "📄 Read Binary File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 Read Text File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ Unsupported File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Read Binary File": {
      "main": [
        [
          {
            "node": "🔓 Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔓 Extract PDF Text": {
      "main": [
        [
          {
            "node": "📄 Normalize PDF Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Normalize PDF Output": {
      "main": [
        [
          {
            "node": "🗂️ Vault Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Read Text File": {
      "main": [
        [
          {
            "node": "🗂️ Vault Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗂️ Vault Snapshot": {
      "main": [
        [
          {
            "node": "🔢 Token Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔢 Token Guard": {
      "main": [
        [
          {
            "node": "🧠 Claude: Decompose Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Claude: Decompose Source": {
      "main": [
        [
          {
            "node": "🔬 Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "🪵 Log Error to Vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔬 Parse Claude Response": {
      "main": [
        [
          {
            "node": "📝 Write Staging Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Write Staging Preview": {
      "main": [
        [
          {
            "node": "🚦 Review Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚦 Review Gate": {
      "main": [
        [
          {
            "node": "📣 Send Review Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Split Notes for Writing",
            "type": "main",
            "index": 0
          },
          {
            "node": "🏛️ Council Audit Branch",
            "type": "main",
            "index": 0
          },
          {
            "node": "🗺️ Mermaid Visual Branch",
            "type": "main",
            "index": 0
          },
          {
            "node": "⚰️ Lesson Cemetery Router",
            "type": "main",
            "index": 0
          },
          {
            "node": "📊 Write 24h Experiment Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📣 Send Review Request": {
      "main": [
        [
          {
            "node": "⏳ Human Review Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Human Review Wait": {
      "main": [
        [
          {
            "node": "✅ Review Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Review Decision": {
      "main": [
        [
          {
            "node": "📋 Split Notes for Writing",
            "type": "main",
            "index": 0
          },
          {
            "node": "🏛️ Council Audit Branch",
            "type": "main",
            "index": 0
          },
          {
            "node": "🗺️ Mermaid Visual Branch",
            "type": "main",
            "index": 0
          },
          {
            "node": "⚰️ Lesson Cemetery Router",
            "type": "main",
            "index": 0
          },
          {
            "node": "📊 Write 24h Experiment Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🗑️ Discard Staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Split Notes for Writing": {
      "main": [
        [
          {
            "node": "💾 Write Note to Vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Write Note to Vault": {
      "main": [
        [
          {
            "node": "📋 Write Processing Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Write Processing Log": {
      "main": [
        [
          {
            "node": "📦 Archive Source File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Archive Source File": {
      "main": [
        [
          {
            "node": "📣 Completion Notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏛️ Council Audit Branch": {
      "main": [
        [
          {
            "node": "⚖️ Deep Council Debate",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "⚖️ Deep Council Debate": {
      "main": [
        [
          {
            "node": "💾 Write Council Note",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "🪵 Log Error to Vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗺️ Mermaid Visual Branch": {
      "main": [
        [
          {
            "node": "💾 Write Mermaid Visual Note",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "⚰️ Lesson Cemetery Router": {
      "main": [
        [
          {
            "node": "⚰️ Move to Lesson Cemetery",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "🚨 Error Handler": {
      "main": [
        [
          {
            "node": "🪵 Log Error to Vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗓️ Weekly Janitor Trigger": {
      "main": [
        [
          {
            "node": "🧹 File-Age Pruning Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧹 File-Age Pruning Scan": {
      "main": [
        [
          {
            "node": "🤖 Semantic Similarity Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Semantic Similarity Check": {
      "main": [
        [
          {
            "node": "🔍 Parse Semantic Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Parse Semantic Results": {
      "main": [
        [
          {
            "node": "📢 Janitor Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔒 Lock: Mark as Processing": {
      "main": [
        [
          {
            "node": "🔍 Validate File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "Asia/Kolkata"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-04-18T00:00:00.000Z",
      "id": "rce-tag-001",
      "name": "second-brain"
    },
    {
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-04-18T00:00:00.000Z",
      "id": "rce-tag-002",
      "name": "obsidian"
    },
    {
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-04-18T00:00:00.000Z",
      "id": "rce-tag-003",
      "name": "ai-automation"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2026-04-18T00:00:00.000Z",
  "versionId": "rce-v5-2026-04-18"
}
